<template>
  <div class="menu-container">
    <notification-menu
      v-for="(managedNotification) in managedNotifications" :key="managedNotification.tag"
      :always-visible="managedNotification['always-visible']"
      :kind="managedNotification.tag"
      :keep-count-notified="managedNotification['keep-count-notified']"
      :managed-notification="managedNotification"
      :notifications.sync="notifications"
      :isConnected="isConnected"
      :show-menu.sync="showMenu"
      :only-following-bus.sync="managedNotification['only-following-bus']"
      :title="managedNotification.title"
      :allUrl="managedNotification['all-url']"
      :showUrl="managedNotification['show-url']" />
  </div>
</template>
<script>
  import moment from 'moment'
  import { webSocketService } from '../Utils/webSocketService'
  import { eventBus } from '../Utils/eventBus'
  import configuration from '../Utils/configuration'
  import notificationMenu from './notification/notificationMenu'

  const parseNotification = (managedNotifications, notif) => {
    if (notif.perc_time_left === undefined) {
      notif.perc_time_left = null
    }
    if (notif.timeLeftTxt === undefined) {
      notif.timeLeftTxt = null
    }
    if (notif.isExpired === undefined) {
      notif.isExpired = false
    }

    try {
      if (typeof notif.tags === 'string') {
        notif.tags = notif.tags.split(',')
      }
      notif.message_data = (typeof(notif.message_data) === 'string' || notif.message_data instanceof String) ? JSON.parse(notif.message_data) : (notif.message_data || {})
    } catch (e) {
      console.error(e)
      notif.message_data = {}
    }

    // Is managed type?
    const notificationKinds = managedNotifications.map(mn => mn.tag)
    for (const iKind in notificationKinds) {
      const kind = notificationKinds[iKind];
      if (notificationKinds.hasOwnProperty(iKind) && notif.tags && notif.tags.indexOf(kind) !== -1) {
        notif.kind = kind
      }
    }

    if (!notif.kind) { return }

    // Is in validated page?
    if (
      notif.message_data.page_regex &&
      !window.location.href.match(new RegExp(notif.message_data.page_regex))
    ) { return }

    return notif
  }

  export default {
    name: 'menu-container',
    components: {
      notificationMenu,
    },
    props: [
      'jwtToken',
      'managedNotifications' // eg. ePersonam: [{ tag: 'epersonam-alert', icon: 'fa-exclamation-triangle' }, { tag: 'epersonam-print', icon: 'fa-print' }]
                             // eg. HR: [{ tag: 'hr-print', icon: 'fa-print' }]
    ],
    data: () => ({
      notifications: [],
      showMenu: null,
      isConnected: true,
    }),
    created () {
      configuration.setJwt(this.jwtToken)
      eventBus.$on('webSocketService.error', () => { this.isConnected = false; })
      eventBus.$on('webSocketService.close', () => { this.isConnected = false; })
      eventBus.$on('webSocketService.open', () => { this.isConnected = true; })
      eventBus.$on('addUINotification', notification => {
        const notif = parseNotification(this.managedNotifications, notification)
        if (!notif) { return }

        const existingNotification = this.notifications.find(n => (
          (notif.id && n.id == notif.id) ||
          (notif.job_id && n.job_id == notif.job_id)
        ))

        if (existingNotification && existingNotification.completed_at && !notification.completed_at) {
          return
        }

        this.notifications = this.notifications.filter(n => n != existingNotification)
        this.notifications.unshift(notif) // move to first position
        this.showMenu = notification.kind
      })
    },
    mounted () {
      this.intervalNotifChecker = this.notificationChecker()
      this.connectToChannel()
      document.addEventListener('click', this.handleClickOutside)
    },
    beforeDestroy () {
      clearInterval(this.intervalNotifChecker)
    },
    destroyed() {
      eventBus.$off('addUINotification')
      document.removeEventListener('click', this.handleClickOutside)
    },
    methods: {
      // Maybe this should be done in `jobSupervisor.js`
      notificationChecker () {
        return setInterval(() => {
          for (let i = 0; i < this.notifications.length; i++) {
            const notification = this.notifications[i]
            if (notification.expires_at) {
              const now = moment()
              const completedAt = moment.utc(notification.completed_at).local()
              const expiresAt = moment.utc(notification.expires_at).local()
              const progressTime = now - completedAt
              const maxTime = expiresAt - completedAt

              notification.timeLeftTxt = expiresAt.fromNow()
              if (progressTime >= maxTime) {
                notification.perc_time_left = 0
                notification.isExpired = true
              } else {
                notification.perc_time_left = 100 - progressTime / maxTime * 100
              }

            }
          }
          this.notifications = this.notifications // updates Vue

        }, 3000)
      },
      connectToChannel () {
        const socket = webSocketService.instance()

        let channel = socket.channel(`notifications:${window.config.user.id}`)

        channel.on('notifications', msg => {
          this.notifications = msg.list.map(notif => {
            const notification = parseNotification(this.managedNotifications, notif)
            if (notification) {
              eventBus.$emit('addNotification', notification)
              return notification
            }
          }).filter(n => n)
        })

        channel.on('notification', notification => {
          notification = parseNotification(this.managedNotifications, notification)

          if (!notification) { return }
          const existingNotification = this.notifications.find(n => n.id && n.id == notification.id)

          if (existingNotification) {
            notification.autoDownload = existingNotification.autoDownload
            const i = this.notifications.indexOf(existingNotification)
            this.$set(this.notifications, i, notification);
          } else {
            this.notifications.unshift(notification)
          }
          this.showMenu = notification.kind
          eventBus.$emit('addNotification', notification)
        })

        channel.on('delete_notification', notification => {
          if (notification.id) {
            this.notifications = this.notifications.filter(n => n.id != notification.id)
          } else {
            // for volatile notifications
            this.notifications = this.notifications.filter(n => n.job_id != notification.job_id)
          }
          eventBus.$emit('deleteNotification', notification)
        })

        channel.on('notified', res => {
          this.notifications = this.notifications.map(n => {
            if (res.notification_ids.includes(n.id)) {
              n.notified = true
            }
            return n
          })
        })

        channel.join()
          .receive('error', ({reason}) => console.error('failed join', reason))
          .receive('timeout', () => console.error('Networking issue. Still waiting...'))
      },
      handleClickOutside(evt) {
        if (!this.$el.contains(evt.target) && !evt.target.classList.contains('target-notification')) {
          this.showMenu = null
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .menu-container {
    display: flex;
  }
</style>
